# ─── API Gateway ──────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3000

# ─── Auth ─────────────────────────────────────────────────
NEXT_PUBLIC_JWT_COOKIE_NAME=almizan_token

# ─── App ──────────────────────────────────────────────────
NEXT_PUBLIC_APP_NAME=Al-Mizan
NEXT_PUBLIC_APP_DESCRIPTION=Plateforme intelligente de gestion des marchés publics
